body {
	font-family: "Segoe UI";
}
.linear {
	margin-left: -10px;
	margin-right: -8px;
	margin-top: -10px;
	height: 260px;
	background: linear-gradient(rgba(165, 165, 255, 0.55), rgba(0, 0, 0, 0));
}
.graylinear {
	height: 100px;
	margin-left: -20px;
	margin-right: -38px;
	margin-bottom: -78px;
	margin-top: -20px;
	background: linear-gradient(rgba(0, 0, 50, 0.1), rgba(0, 0, 0, 0));
}
.headline {
	font-size: 75px;
	font-family: "Arial";
	font-style: italic;
	margin-top: -230px;
	margin-bottom: 90px;
	margin-left: 3px;
	color: rgb(152, 152, 255);
	text-shadow: -4px 4px 2px rgb(90, 90, 235);
}
.page {
	font-size: 17px;
	text-wrap: wrap;
	margin-left: 10px;
	margin-right: 30px;
	margin-top: -70px;
}
.hide {
	color: rgba(0 ,0, 0, 0);
}
.split {
	height: 1px;
	margin-left: -20px;
	margin-right: -38px;
	margin-top: 30px;
	margin-bottom: 20px;
	background-color: rgba(10, 10, 50, 0.2);
}
.header {
	font-size: 48px;
	margin-top: -20px;
	margin-left: -3px;
}
.list {
	margin-left: +34px;
}
.cowimage {
	width: 200px;
	height: 137px;
	margin-top: -46px;
	margin-left: 25px;
}
.celery {
	position: relative;
	margin-left: 40.55%;
	margin-top: -230px;
	margin-bottom: -4px;
	opacity: 0.8;
	-webkit-user-drag: none;
	-moz-user-select: none;
	user-select: none;
}
.endlinear {
	position: relative;
	margin-left: -20px;
	margin-right: -8px;
	margin-top: -265px;
	margin-bottom: -10px;
	height: 265px;
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(175, 175, 255, 0.75));
	-webkit-user-drag: none;
	-moz-user-select: none;
	user-select: none; 
}
